<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">



<div class="container">
    <div class="row">
        <div class="col">
            <div class="register-form">
                <form [formGroup]="form">

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                            <div *ngIf="f['name'].errors['required']">Name is required</div>
                            <div *ngIf="f['name'].errors['pattern']">Name must be letter</div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label>Age</label>
                        <input type="text" formControlName="age" class="form-control " [ngClass]="{ 'is-invalid': submitted && f['age'].errors }">
                        <div *ngIf="submitted && f['age'].errors" class="invalid-feedback">
                            <div *ngIf="f['age'].errors['required']">Age is required</div>
                            <div *ngIf="f['age'].errors['pattern']">Age must be number</div>
                            <div *ngIf="f['age'].errors['min']">Age must be 1-99</div>
                            <div *ngIf="f['age'].errors['max']">Age must be 1-99</div>

                        </div>

                    </div>

                    <div class="form-group">
                        <label>Salary</label>
                        <input type="text" formControlName="salary" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['salary'].errors }">
                        <div *ngIf="submitted && f['salary'].errors" class="invalid-feedback">
                            <div *ngIf="f['salary'].errors['required']">Salary is required</div>
                            <div *ngIf="f['salary'].errors['pattern']">Salary must be number</div>

                        </div>
                    </div>


                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']">Email is required</div>
                            <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>

                        </div>
                    </div>

                    <div class="form-group">
                        <span *ngIf="!update">
                        <button type="submit" class="btn btn-primary" (click)="onSave()">Create</button>
                        </span>
                        <span *ngIf="update">
                        <button type="submit" class="btn btn-primary" (click)="onUpdate()">Update</button>
                        </span>
                        <button type="button" (click)="onReset()" class="btn btn-warning float-right">Reset</button>
                    </div>
                </form>
            </div>

        </div>

        <div class="col">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" autocomplete="off" [ngModelOptions]="{standalone: true}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
            <br>
            <br>
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of employee | filter:searchText | paginate: { itemsPerPage: 4, currentPage: p } ">
                        <td>{{e.id }}</td>
                        <td>{{e.name}}</td>
                        <td>{{e.age}}</td>
                        <td>{{e.salary}}</td>
                        <td>{{e.email}}</td>
                        <td>
                            <button class="btn btn-secondary" (click)="removeRow(e.id)">Delete</button>
                        </td>
                        <td>
                            <button class="btn btn-warning" (click)="edit(e)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>
        </div>
    </div>
</div>
